[user]
    name = David Mason
    email = david.mason@onthebeach.co.uk

[alias]
    ci = commit
    co = checkout
    aa = add --all
    st = status
    praise = blame
    fa = fetch --all -v
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[color]
    ui = true

[credential]
    # Cache for two days
    helper = cache --timeout=172800
[push]
  #default = simple
[merge]
	tool = meld
